.movie-item {
    text-align: center;
    align-content: center;
}

.poster {
    max-height: 16rem;
    max-width: 13rem;
}

@media (max-width: 450) {
    .poster {
        width: 90%;
    }
}

.movie-info {
    border: 1px solid black;
}