.movie-title {
    word-break: break-all;
}
.movie-item {
    margin: 1rem .5rem;
}
.poster {
    width: 15rem;
    height: 20rem;
    background-size: cover;
}
.movie-info {
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
    height: 15%;
    width: 15rem;
    text-align: center;
    background-color: rgb(41, 41, 48);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 85%;
}